In [2]:
import pandas as pd

# Sample dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', None],
    'Age': [25, None, 30, 35, 40],
    'Score': [85, 90, None, 95, 88]
}
df = pd.DataFrame(data)
print(df)

      Name   Age  Score
0    Alice  25.0   85.0
1      Bob   NaN   90.0
2  Charlie  30.0    NaN
3    David  35.0   95.0
4     None  40.0   88.0

##### 1. isnull() - Check for missing values

In [5]:
print(df.isnull())

checking for missing values using isnull():
    Name    Age  Score
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False
4   True  False  False

##### 2. notnull() check for non-missing values

In [7]:
print(df.notnull())

Checking for non-missing values using notnull():
    Name    Age  Score
0   True   True   True
1   True  False   True
2   True   True  False
3   True   True   True
4  False   True   True

##### 3. dropna() - drop rows with missing values

In [8]:
print(df.dropna())

Dropping rows with missing values using dropna():
    Name   Age  Score
0  Alice  25.0   85.0
3  David  35.0   95.0

##### 4. fillna() -fill missing values with a specified value

In [9]:
print(df.fillna({'Age': 28, 'Score': 80}))

Filling missing values with a specified value using fillna():
      Name   Age  Score
0    Alice  25.0   85.0
1      Bob  28.0   90.0
2  Charlie  30.0   80.0
3    David  35.0   95.0
4     None  40.0   88.0

##### 5. replace() - Replace specified value with another value

In [19]:
print(df.replace({'Name': {None: 'Unknown'}}))
print('\n')
print(df.replace({'Age':{'Bob': 'George'}}))

      Name   Age  Score
0    Alice  25.0   85.0
1      Bob   NaN   90.0
2  Charlie  30.0    NaN
3    David  35.0   95.0
4  Unknown  40.0   88.0


      Name   Age  Score
0    Alice  25.0   85.0
1      Bob   NaN   90.0
2  Charlie  30.0    NaN
3    David  35.0   95.0
4     None  40.0   88.0
      Name   Age  Score
0    Alice  25.0   85.0
1      Bob  50.0   90.0
2  Charlie  30.0   80.0
3    David  35.0   95.0
4     None  40.0   88.0