In [2]:
import pandas as pd

data = {
    'Name' : ['Alice','George','Tyrone','festus'],
    'Score': [56,67,89,89]
}

df = pd.DataFrame(data)
print(df)

     Name  Score
0   Alice     56
1  George     67
2  Tyrone     89
3  festus     89

##### Calculate the mean score

In [3]:
mean_score = df['Score'].mean()
print(f'Mean score: {mean_score}')

Mean score: 75.25

##### filter the student with score > 80

In [12]:
highest_scores = df[df['Score']>80]
print(f'{highest_scores}')

     Name  Score  Passed
2  Tyrone     89    True
3  festus     89    True

In [8]:
df['Passed'] = df['Score']>=80
print(f'Updated DataFrame: {df}')

Updated DataFrame:      Name  Score  Passed
0   Alice     56   False
1  George     67   False
2  Tyrone     89    True
3  festus     89    True